<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.beachrendezvous">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- Libraries -->
    <uses-sdk tools:overrideLibrary="com.microsoft.identity.msal"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Login Screen -->
        

        <!-- 1st activity -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--&lt;!&ndash; 2nd activity &ndash;&gt;-->
        <!--&lt;!&ndash;  TODO: NOT IMPLEMENTED YET &ndash;&gt;-->
        <!--<activity-->
            <!--android:name=".LoginActivity"-->
            <!--android:label="@string/title_activity_login">-->

        <!--</activity>-->

        <!-- 3rd activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

        </activity>
    </application>

</manifest>